body {
    margin: 0;
    padding: 0;
}


.container {
    width: 100%;
    padding: 0;
}

.top-menu {
    border: 5px solid black;
    margin: 0;
    padding: 0;
}


.top-menu_item {
    display: inline-block;
    text-align: center;
    list-style: none;
    width: 25%;
    box-shadow: 0 0 2px 0;
    background-color:grey;
}



.top-menu_link {
    width : auto ;
    color: black;
}

